body {
  font-family: Arial, sans-serif;
  background: #1c1c1c;
  margin: 0;
  padding: 0;
}

header {
  background: #4267B2;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.5em;
}

/* Post design */
.post {
  background-color: #373636;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.default-pic-post {
  display: block;
  width: 3rem;
  margin-left: 0.8rem;
}

.post-header {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-size: 0.9em;
  color: #ffffff;
  margin-bottom: 8px;
  align-items: center;
}

.post-username {
  font-weight: bold;
  color: #ffffff;
}

.timestamp {
  font-size: 0.8em;
  color: #bbbbbb;
}

.post-content {
  font-size: 1em;
  color: #ffffff;
  margin-top: 8px;
}

.post-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.like,
.comment {
  background: none;      
  border: none;                
  cursor: pointer;   
  filter: invert(1);
}

.like:hover img,
.comment:hover img {
  transform: scale(1.1);  
  transition: 0.2s ease;
}
